* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(246, 251, 252);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 200px;
  background-color: rgb(246, 251, 252);
  color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("chess.jpeg");
}

header h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

section p {
  padding: 50px;
  justify-content: right;
  margin: auto;
}

.section-title {
  font-size: 55px;
  color: rgb(77, 73, 73);
  border-right: 3px solid;
  padding-right: 300px;
  text-align: left;
  position: relative;
  width: 50%;
}

.Projects {
  justify-content: left;
  align-items: flex-end;
}

div h5 {
  margin-top: -4px;
}

.cotainer {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.img {
  display: block;
  flex-wrap: wrap;
  float: right;
}

img {
  width: 200px;
  height: 200px;
}

.box1 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.box2 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.box3 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.box4 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.box5 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
h5 {
  margin-top: -10px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
}
