* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(246, 251, 252);
  font-family: Arial, Helvetica, sans-serif;
}
.avatar {
  image-orientation: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  padding: 200px;
  background-color: rgb(246, 251, 252);
  color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("chess.jpeg");
}

header h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

section p {
  padding: 50px;
  justify-content: right;
  margin: auto;
}

.section-title {
  font-size: 55px;
  color: rgb(77, 73, 73);
  border-right: 3px solid;
  padding-right: 300px;
  text-align: left;
  position: relative;
  width: 50%;
}

section img {
  flex-direction: row;
  flex-wrap: wrap;
}

.Projects img {
  justify-content: right;
  align-items: flex-end;
}

div h5 {
  margin-top: -4px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.img {
  display: block;
  flex-wrap: wrap;
  float: left;
}

img {
  width: 200px;
  height: 200px;
}

.box1 img {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.box2 {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}
.box3 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.box4 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.box5 {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
h5 {
  margin-top: -10px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
}
