* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(246, 251, 252);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 200px;
  background-color: rgb(246, 251, 252);
  color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("chess.jpeg");
}

header h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

section {
  padding: 100px;
  justify-content: start;
}

.row {
  display: flex;
  justify-content: space-around;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

.img {
  display: block;
  flex-wrap: wrap;
  float: right;
}

/* .flex-row { */
/* float: left; */
/* padding-left: 30px; */
/* } */

.section-title {
  font-size: 55px;
  color: rgb(77, 73, 73);
  border-right: 3px solid;
  padding-right: 300px;
  text-align: left;
  position: relative;
  width: 50%;
}

img {
  width: 200px;
  height: 200px;
}

h5 {
  margin-top: -10px;
}

.div p {
  width: 300px;
  height: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20;
  display: flex;
  border-color: rgb(118, 197, 73);
  background-color: lightcyan;
}

.box {
  height: 200px;
  width: 200px;
  /* background-color: #000000; */
}

article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
}
