* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(246, 251, 252);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.avatar {
  image-orientation: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  padding: 150px;
  background-color: rgb(246, 251, 252);
  color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../images/chess.jpeg");
}

header h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: grey;
}
#contents {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}
section p {
  padding: 50px;
  justify-content: right;
  margin: auto;
}
.section-title {
  font-size: 55px;
  color: rgb(77, 73, 73);
  border-right: 3px solid;
  padding-right: 300px;
  text-align: left;
  position: relative;
  width: 50%;
}
section img {
  display: flex;
}
div h5 {
  margin-top: -4px;
}
aside {
  display: flex;
  flex-direction: column;
}
img {
  width: 200px;
  height: 200px;
}

.row img {
  opacity: 0.8;
  cursor: pointer;
}

.row img:hover {
  opacity: 1;
}

h5 {
  margin-top: -10px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
}
