* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(246, 251, 252);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.avatar {
  image-orientation: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  padding: 100px;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

header h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.hero {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  color: rgb(110, 243, 110);
} 

main {
  display: flex;
  flex-direction: column;
} 

 section p {
  padding: 50px;
  justify-content: right;
  margin: auto;
} 

 .section-title {
  font-size: 30px;
  color: rgb(37, 82, 228);
  border-right: 3px solid;
  padding-right: 200px;
  text-align: left;
  position: relative;
  width: 25%;
}

/* div.projects {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.projects:hover {
  border: 1px solid #777;
} */

div .projects img {
  width: 200px;
  height: 200px;
}

/* .row {
  padding:200px;
  margin:350px;
  flex-wrap: wrap;
  justify-content: right;
} */

div.desc {
  padding: 15px;
  text-align: center;
}


* {
  box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

div h5 {
  margin-top: -4px;
}
aside {
  display: flex;
  flex-direction: column;
}

.row img {
  opacity: 0.8;
  cursor: pointer;
}

.row img:hover {
  opacity: 1;
}

h5 {
  margin-top: -10px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: right;
}

article ul li a{
  color: rgb(246, 251, 252);
}

footer {
  text-align: center;
  border: solid;
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-size: 100%;
}
